<div class="header">
  <h2>{{title}}</h2>
  <p><span class="director">Director: {{director}}</span> - <span class="date">{{date}}</span></p>
  <p><span class="type">Type: {{type}}</span></p>
  <p><span class="stars">Stars: {{stars}}</span></p>
  <p><time>Duration: {{duration}}</time></p>
</div>
<div class="content">
  <img src="{{src}}" alt="{{title}}">
  {{description}}
</div>
<footer>
  <button type="button" class="edit">Edit</button>
  <button type="button" class="unpublish">Unpublish</button>
  <button type="button" class="delete">Delete</button>
</footer>