<a class="navigate-right" href="#detail/{{id}}">
  <img src="{{src}}" alt="{{title}}" class="media-object pull-left" width="100" height="150" />
  <div class="media-body">
    {{title}}
    <p>{{description}}</p>
  </div>
</a>